<!doctype html>
<html lang="ja">
  
  <head>
    <meta charset="utf-8">
    <title>団員専用ページ</title>
    
    <!-- CSS -->
    <link href="../style.css" rel="stylesheet">
  </head>
  
  <body>
    <h2>団員専用ページ</h2>
    <p>こんにちは、<% echo(NAME) %>さん</p>
    
    <h3>Link</h3>
    
    <ul>
      <li><a href="https://hokusetsuwo.slack.com/" target="_top">北摂Slack</a>
      <li><a href="https://densuke.biz/list?cd=ZqghfGwMFxqDZLQY" TARGET="_top">伝助・練習出欠表</a>
      <li><a href="https://livedoor.blogcms.jp/member/" TARGET="_top">ブログ管理画面</a>
    </ul>
    
    <hr>
    
    <h3>File</h3>
    
    
    <ul>
      <li><a href="dl.php?filename=blog_manual2.pdf">北摂WOブログ作成マニュアル</a>更新しました(<a href="dl.php?filename=blog_manual1.pdf">前の版</a>)。これを参考にしてブログ記事を作成して下さい。
      <li>係構成表(2025年03月) <a href="dl.php?filename=kakari202503.pdf">PDF版</a>
      <li><a href="dl.php?filename=kakari_task.xlsx">係の仕事一覧のフォーマット(Excel)</a>
      <li><a href="dl.php?filename=kakari_task.zip">各係作業一覧(zip)</a>
      <li>交通費精算様式 <a href="dl.php?filename=koutsuuhi.xls">Excel版(xls)</a> / <a href="dl.php?filename=koutsuuhi.pdf">PDF版</a>
      <li><a href="dl.php?filename=gakufu20241010.pdf">所有楽譜一覧表(2024/10版,pdf)</a>
      <li><a href="dl.php?filename=kiyaku_v12.zip">団規約第12版(2024.06)</a> (zip,pdf)
      <li>休団届(<a href="dl.php?filename=kyudan_201301.xls">Excel</a>/<a href="dl.php?filename=kyudan_201301.pdf">PDF</a>) / 
          復団届(<a href="dl.php?filename=fukudan_201301.xls">Excel</a>/<a href="dl.php?filename=fukudan_201301.pdf">PDF</a>) / 
          退団届(<a href="dl.php?filename=taidan_201810.xls">Excel</a>/<a href="dl.php?filename=taidan_201810.pdf">PDF</a>)
      <li>借用書(<a href="dl.php?filename=shakuyousho.xls">Excel</a>/<a href="dl.php?filename=shakuyousho.pdf">PDF</a>) ※借用書には団長所有の楽団印が必要です
      <li>倉庫備品一覧 <a href="dl.php?filename=soukobihin.xlsx">Excel版(xlsx)</a> / <a href="dl.php?filename=soukobihin.pdf">PDF版</a>
      <li>SNSガイドライン <a href="dl.php?filename=sns_guideline.docx">Word版(docx)</a> / <a href="dl.php?filename=sns_guideline.pdf">PDF版</a>
      <li><a href="dl.php?filename=flowchart_partren.pdf">パー練場所取りフローチャート</a>
      <li><a href="dl.php?filename=schedule_aki2026.pdf">練習予定表（秋コン2026に向けて）</a>
    </ul>
    
    <hr>
    
    <h2>定期演奏会 アンケート</h2>
    <ul>
      <li><a href="dl.php?filename=1.pdf">1</a>
      <li><a href="dl.php?filename=2.pdf">2</a>
      <li><a href="dl.php?filename=3.pdf">3</a>
      <li><a href="dl.php?filename=4.pdf">4</a>
    </ul>

<!--

    <h2>音源</h2>
    <ul>
      <li><a href="dl.php?filename=1-1_ウルトラ大行進.mp3">ウルトラ大行進</a>
      <li><a href="dl.php?filename=1-2_情熱大陸.mp3">情熱大陸</a>
      <li><a href="dl.php?filename=1-3_You Raise Me Up.mp3">You Raise Me Up</a>
      <li><a href="dl.php?filename=1-4_スーパーマリオブラザーズ(星出尚志編).mp3">スーパーマリオブラザーズ(星出尚志編)</a>
      <li><a href="dl.php?filename=1-5_久石譲作品集3.mp3">久石譲作品集3</a>
      <li><a href="dl.php?filename=2-2_たなばた(酒井格).mp3">たなばた(酒井格)</a>
      <li><a href="dl.php?filename=2-3_モンタニャールの詩(ヴァンデルロースト)_市音.mp3">モンタニャールの詩(ヴァンデルロースト)市音</a>
      <li><a href="dl.php?filename=2-3_モンタニャールの詩(ヴァンデルロースト)_シエナ.mp3">モンタニャールの詩(ヴァンデルロースト)シエナ</a>
      <li><a href="dl.php?filename=2-3_モンタニャールの詩_オオサカン.mp3">モンタニャールの詩(ヴァンデルロースト)オオサカン</a>
      <li><a href="dl.php?filename=2-4_Time To Say Goodbye.mp3">2-4_Time To Say Goodbye</a>
    </ul>
    <hr>
-->
    
  </body>
</html>
